<footer>
    <div class="container text-center">
        <ul class="horizontal">
            <li><a target="_blank" href="//www.kiva.org/about">About Kiva</a></li>
            <li><a target="_blank" href="//build.kiva.org/">Kiva API</a></li>
            <li><a target="_blank" href="//github.com/mlibazisi/repaidly">Source on Git</a></li>
            <li><a target="_blank" href="//opensource.org/licenses/MIT">MIT License</a></li>
        </ul>
        <p>&copy; 2017 Repaidly. All rights reserved. Handcrafted with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> in Cali</p>
        <p>For demonstrative purposes only. Repaidly is not owned, or operated, by Kiva</p>
    </div>
</footer>